a {
  color: currentColor;
  text-decoration-color: transparent;
  transition: text-decoration-color var(--duration-short);

  &:hover {
    text-decoration-color: currentColor;
  }
}

a:has(.icon) {
  transition: var(--duration-medium);

  &:hover {
    transform: rotate(1turn);
  }
}
